# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor settings
.vscode/
.idea/
.DS_Store
Thumbs.db
